.route {
  width: auto;
  background-color: #374259;
  padding: 20px;
  border-radius: 10px;
}

.screen_area {
  display: flex;
  margin: 20px 0;
}

.screen_text {
  width: 100%;
  display: flex;
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
  color: rgba(20, 5, 5, 0.8);
}

.button_area {
  text-align: center;
}

.button_line>button {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 20px rgba(255, 255, 255, 0.1), 5px 5px 10px rgba(255, 255, 255, 0.2);
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  color: white;
}

.button_line>button:active {
  background-color: #4f5664;
}